/*----------------- HEADER ----------------- */


header {
    display: flex;
    justify-content:flex-end;
  }
  
  .header {
    width: 100%;
    padding: 0.6rem;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:static;
    top: 0;
    z-index: 1000;
  }
  
  .buttons {
    color: aliceblue;
    text-decoration: none;
    font-weight: 900;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all ease .2s;
  }

  .buttons.a{
    justify-items: center;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
  }
  
  .choices {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 5rem;
  }
  
  
  /*----------------- ANIMATIONS ----------------- */
  
  
  .buttons:hover:before {
  font-size: 1.7rem;
  transform: scale(1.2);
  box-shadow:  0 0 15px #f7f7f7;
      filter: blur(3px);

  }

  .buttons:hover {
    color: #ffffff;
    box-shadow: 0 0 15px #ffffff;
    text-shadow: 0 0 15px #ffffff;
  }